// include config for each module
includeConfig 'conf/modules.config'

// include profiles
profiles {
	gadi { includeConfig "conf/gadi.config" }
    setonix { includeConfig "conf/setonix.config" }
}

// enable reporting
dag.enabled = true
report.enabled = true
timeline.enabled = true
trace.enabled = true
