// include config for each module
includeConfig 'conf/modules.config'

params {
    report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

// include profiles
profiles {
	gadi {
        includeConfig "conf/gadi.config"
        includeConfig "conf/gadi_modules.config"
    }
    setonix { includeConfig "conf/setonix.config" }
}

// enable reporting
dag {
    enabled = true
    file = "${params.outdir}/run_info/dag-${params.report_suffix}.html"
}
report {
    enabled = true
    file = "${params.outdir}/run_info/report-${params.report_suffix}.html"
}
timeline {
    enabled = true
    file = "${params.outdir}/run_info/timeline-${params.report_suffix}.html"
}
trace {
    enabled = true
    file = "${params.outdir}/run_info/trace-${params.report_suffix}.txt"
}
