process {
    withName: "FASTQC" {
        cpus = 2
        memory = 1.GB
        time = 2.min
    }

    withName: "ALIGN" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }
    
    withName: "GENOTYPE" {
        cpus = 4
        memory = 5.GB
        time = 10.min
    }
    
    withName: "JOINT_GENOTYPE" {
        cpus = 4
        memory = 4.GB
        time = 10.min
    }
    
    withName: "STATS" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }
    
    withName: "MULTIQC" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }
    
}