/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: INDEX {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: FASTQC {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: QUANTIFICATION {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: MULTIQC {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

}
