/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: INDEX {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: FASTQC {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: QUANTIFICATION {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: MULTIQC {
        cpus   = 2
        memory = 8.GB
        time   = 10.m
    }

    withName: DOWNLOADGTF {
        cpus   = 1
        memory = 8.GB
        time   = 1.h
    }

    withName: ALIGNREADS {
        cpus   = 8
        memory = 48.GB
        time   = 2.h
    }

    withName: INDEXBAM {
        cpus   = 4
        memory = 16.GB
        time   = 1.h
    }

    withName: SPLITBAM {
        cpus   = 1
        memory = 16.GB
        time   = 1.h
    }

    withName: SPLITGTF {
        cpus   = 1
        memory = 4.GB
        time   = 1.h
    }

    withName: COUNT {
        cpus   = 8
        memory = 4.GB
        time   = 1.h
    }

}
